:root {
	--fg: black;
	--bg: white;
	--href: royalblue;
	--hover: navy;
        --seen: blueviolet;
}

body::-webkit-scrollbar {
  width: 12px;
}

body {
    margin: auto;
    margin-bottom: 400px;
    color: var(--fg);
    padding: 1.4em 2em 1.3em 2em;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover{color: var(--hover)}
a:visited{color: var(--seen)}

html {
        min-height: 100%;
        padding-bottom: 5em;
        background: var(--bg);
}

h1,h2,h3,h4, header, footer {
    text-align: center;
    font-family: c059, sans;
}

header ul, header ul li {
    display: inline;
}

main {
    display: flex;
    font-family: sans;
}

.left {
    flex: 1;
    padding: 1em;
}

.right {
    flex: 1;
    padding: 1em;
}

article{padding: 0.5em}

@media (min-width: 55rem) {
	body {max-width: 1000px}
}

@media (max-width: 520px) {
        header img {
            height: auto;
            width: 100%;
        }
}

@media only screen and (max-width: 55rem) {
        main {display: block}
        .flex-center .left, .left {
            width: 100%;
            box-sizing: border-box
        }
        .flex-center .right, .right {
            width: 100%;
            box-sizing: border-box
        }
        pre {overflow-x: scroll; text-align: left}
        .line {overflow-x: scroll}
}

.banner {
    position: relative;
    margin: auto;
}

.banner img {border: solid 2px black}

.banner .prev {
    position: absolute;
    top: 210px;
    left: 20px;
    font-size: smaller;
}

.banner .next {
    position: absolute;
    top: 210px;
    left: 210px;
    font-size: smaller;
}

.banner a {
    color: snow;
    text-decoration: none;
}

.emoji {max-width: 20px}

.columnize {
    column-count: 2;
    column-gap: 0.8em;
    flex-wrap: wrap;
}

.line {
    display: flex;
    align-items: baseline;
    padding: 1px;
}

.line p {
    padding-left: 1em;
    padding-right: 1em;
    overflow-wrap: break-word;
    white-space: nowrap;
}

.line a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.line img {
    padding: 0px 8px 0px 8px;
    margin: 0px;
    max-height: 1em;
    max-width: 1em
}

h1 {
    font-size: 2.2em;
    margin-bottom: 0;
    margin-top: 0;
}


table, td {
  border-collapse: collapse;
  padding: 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.container .gif {padding: 1px}

.no-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert {
    flex-direction: column;
}

.center {margin: auto}

p { line-height: 1.6; padding: 5px}

li {padding: 4px}

q {quotes: "“" "”"}

form {text-align: center;}
.webring{
    width: 200px;
    border: 1px solid #eee;
    padding: 0.25em;
    text-align: center;
}
.webring span {
    flex-wrap: nowrap;
}

@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
	}
}
