:root {
	--fg: black;
	--bg: white;
	--href: royalblue;
	--hover: navy;
}
body::-webkit-scrollbar {
  width: 12px;
}

body {
    color: var(--fg);
    padding: 1.4em 2em 1.3em 2em;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover{color: var(--hover)}

html {
        min-height: 100%;
        padding-bottom: 5em;
        background: var(--bg);
}

h1, footer {
    text-align: center;
    font-family: c059, sans;
}
header {
    text-align: left
}


main {
    font-family: sans;
}

article{padding: 0.5em}

.col {
    float: left;
    width: 32%;
}

@media (max-width: 520px) {
        header img {
            height: auto;
            width: 100%;
        }
        .col {width: 100%}
}

@media only screen and (max-width: 1300px) {
        /* main {display: block} */
        pre {overflow-x: scroll; text-align: left}
        .line {overflow-x: scroll}
}

section {
    box-sizing: border-box;
}


h1 {
    font-size: 2.2em;
    margin-bottom: 0;
    margin-top: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    /* max-width: 500px; */
}

.container .gif {padding: 1px}
gif {
    transition: transform 1s ease-in-out;
}
.gif:hover {
    transform: Rotate(-3deg);
}

.no-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert {
    flex-direction: column;
}

.center {margin: auto}

p {
    line-height: 1.4;
    padding: 3px;
    max-width: 440px;
}

li {padding: 4px}

q {quotes: "“" "”"}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
	}
}

