:root{
  scrollbar-color: lightsteelblue midnightblue !important;
  scrollbar-width: thin !important;
}

@media (min-width: 55rem) {
	body {
            max-width: 780px;
            padding-top: 20px;
        }

        main {
            margin: auto;
            font-family: sans;
            background: #27469adf;
            border-radius: 40px;
            border: solid midnightblue 1px;
            box-shadow: 5px 5px 5px 5px rgba( 0, 0, 0, 0.3) ;
            min-height: 700px
        }

        #portrait img {
          display: block;
          float: right;
          padding: 10px;
          border-radius: 15px;
          display: block;
          margin: auto;
          max-height: 300px;
          max-width: 90%;
        }

        #moon {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 20px;
        }


        .tree {
            visibility: hidden;
            display: none;
        }

        .banner {
            border-radius: 2px;
            padding: 3px;
            color: snow;
            background: darkgreen;
            box-shadow: 2px 4px 4px #000a;
        }

        main:hover {border: dashed lightsteelblue 1px}
}

@media (min-width: 1350px) {

        .tree {
            visibility: hidden;
            display: none;
        }

        .banner {
            border-radius: 2px;
            padding: 3px;
            color: snow;
            background: darkgreen;
            box-shadow: 2px 4px 4px #000a;
        }

        #rightside {
            position: fixed;
            right: 0px;
            top: 60%;
            padding: 30px;
            animation: HoverUpDown 14s ease infinite;
        }

        @keyframes HoverUpDown {
            0%, 100% {
                top: 52%;
            }
            50% {
                top: 42%;
            }
        }

        #leftside {
            position: fixed;
            left: 0px;
            bottom: 0px;
            padding-left: 30px;
            animation: MoveUpDown 14s ease infinite;
        }

        @keyframes MoveUpDown {
            0%, 100% {
                top: 15%;
            }
            50% {
                top: 25%;
            }
        }


    }

@media (max-width: 55rem) {
        main {
            margin: auto;
            font-family: sans;
            background: #27469abb;
            border-radius: 20px;
            border: solid midnightblue 1px;
            max-width: 92%;
        }
        #leftside, #rightside, #moon, .ascii {
            visibility: hidden;
        }

        #portrait img {
            display: none;
        }

        #moon, #leftside, #rightside, .ascii {
            display: none;
        }

        div.nav {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
        }

        .banner {
            visibility: hidden;
            display: none;
        }


        nav {overflow-x: scroll}
        pre {overflow-x: scroll; text-align: left}
}

pre {font-size: 12pt; padding: 20px}


@font-face {
    font-family: Truckin;
    src: url(/fonts/truckin.ttf);
}

body {
    color: navajowhite;
    margin: auto;
    font-family: sans;
}

header {
    text-align: center;
}

nav {
        font-variant: small-caps;
        text-align: center;
        background-color: #191971;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        margin-top: -16px;
}

nav img {
    margin-bottom: -4px;
}

nav a {
    display: inline-block;
    color: navajowhite;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
}

nav li {
    padding: 4px;
    overflow-wrap: break-word;
    white-space: nowrap;
}

a {
    text-decoration: none;
    text-shadow: 1px 1px #333;
    color: snow;
}

a:hover {
    color: aquamarine;
    font-style: italic;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: midnightblue;
}

body::-webkit-scrollbar-thumb {
  background-color: lightsteelblue;
  border-radius: 20px;
  border: 3px solid midnightblue;
}

html {
        min-height: 100%;
	padding-top: 10px;
        padding-bottom: 5em;
        background: url("/assets/ocean.webp") repeat-x fixed, linear-gradient(#22469a, #87CEEF) no-repeat fixed;
         background-size: cover;
          background-position: center;
          background-attachment: fixed;
}

figure {
  display: block;
  float: right;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  max-height: 700px;
  max-width: 50%;
}

hr {
    color: navajowhite;
    border: 1px dashed;
}

.ascii {
    white-space: pre;
    font-family: monospace;
    font-size: 3pt;
}

.heading {
    text-align: center;
    text-shadow: 2px 2px #000;
    padding: 5px;
}

.pm {
    color: snow;
    text-shadow: 1px 1px 2px red, -1px -1px 2px cyan, rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.twotw {
    text-shadow:  1px 1px #0006;
    color: snow;
}

h1 {
    color: #aeda01;
    font-size: 240%!important;
    line-height: 120%!important;
}

h2 { color: #CAE4CA}

h3 { color: #fcc200}

h4 { color: lightcoral}

h1, h2,h3,h4 {font-family: Truckin;}

code {
    display: block;
    font-family: monospace;
    color: lime;
    border-radius: 15px;
    background: #444;
    margin: auto;
    padding: 15px;
    width: 50%;
}

table, th, td {
  border: 1px solid silver;
  border-collapse: collapse;
  background: #4446;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.no-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4px;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
}

.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4px;
    align-items: right;
    text-align: right;
}

blockquote {
    color: navajowhite;
    padding: 2rem;
    font-style: italic;
    text-shadow: 1px 1px #333;
}

p { line-height: 2 ; padding: 1em}

ul  {margin-right: 20px; margin-left: 20px}

dl  {
    margin-right: 20px;
    margin-left: 20px;
    line-height: 1.6;
    font-size: 14pt;
}

q {quotes: "“" "”"}

footer {padding: 2em; text-align: center}
