:root {
	--fg: black;
	--bg: white;
	--href: royalblue;
	--hover: navy;
        --seen: blueviolet;
}
body::-webkit-scrollbar {
  width: 12px;
}

body {
    margin: auto;
    margin-bottom: 400px;
    color: var(--fg);
    padding: 1.4em 2em 1.3em 2em;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover{color: var(--hover)}
a:visited{color: var(--seen)}

html {
        min-height: 100%;
        padding-bottom: 5em;
        background: var(--bg);
}

header {
    text-align: center;
}

main {
    font-family: sans;
}

.left {
    flex: 1;
    padding: 1em;
}

.right {
    flex: 1;
    padding: 1em;
}

article{padding: 1em}

@media (min-width: 55rem) {
	body {max-width: 550px}
        #mobile-wr {display: none}
}

@media (max-width: 520px) {
        header img {
            height: auto;
            width: 100%;
        }
}

@media only screen and (max-width: 55rem) {
        main {display: block}
        .left {
            width: 100%;
            box-sizing: border-box
        }
        .right {
            width: 100%;
            box-sizing: border-box
        }
        #desktop-wr {display: none}
        pre {overflow-x: scroll; text-align: left}
        .line {overflow-x: scroll}
}

.banner {
    position: relative;
    margin: auto;
}

.banner img {border: solid 2px black}

.banner .prev {
    position: absolute;
    top: 210px;
    left: 20px;
    font-size: smaller;
}

.banner .next {
    position: absolute;
    top: 210px;
    left: 210px;
    font-size: smaller;
}

.banner a {
    color: snow;
    text-decoration: none;
}

.columnize {
    column-count: 2;
    column-gap: 0.8em;
    flex-wrap: wrap;
}

.line {
    display: flex;
    align-items: baseline;
    padding: 1px;
}

.line p {
    padding-left: 1em;
    padding-right: 1em;
    overflow-wrap: break-word;
    white-space: nowrap;
}

.line a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.line img {
    padding: 0px 8px 0px 8px;
    margin: 0px;
    max-height: 1em;
    max-width: 1em
}

h1 {font-size: 2.2em;}

table, td {
  border-collapse: collapse;
  padding: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.container .gif {padding: 1px}

.no-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert {
    flex-direction: column;
}

.center {margin: auto}

p { line-height: 1.5; padding: 5px}

li {padding: 4px}

q {quotes: "“" "”"}

header, footer {
    font-family: c059, sans;
}

footer  {text-align: center}

form {text-align: center;}
.ea-text a strong {color: snow !important}
iframe {
    width: 100%;
    min-height: 26em;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
	}
}

