:root {
	--fg: black;
	--bg: white;
	--href: royalblue;
	--hover: navy;
        --seen: blueviolet;
}

body::-webkit-scrollbar {
  width: 12px;
}

body {
    margin: auto;
    margin-bottom: 400px;
    color: var(--fg);
    padding: 1.4em 2em 1.3em 2em;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover{color: var(--hover)}
a:visited{color: var(--seen)}

html {
        min-height: 100%;
        padding-bottom: 5em;
        background: var(--bg);
}

header {
    text-align: center;
}

main {
    display: flex;
    font-family: sans;
}

.left {
    flex: 1;
    padding: 1em;
}

.right {
    flex: 1;
    padding: 1em;
}

article{padding: 1em}

@media (min-width: 55rem) {
	body {max-width: 1000px}
        #mobile-wr {display: none}
}

@media (max-width: 520px) {
        header img {
            height: auto;
            width: 100%;
        }
}

@media only screen and (max-width: 55rem) {
        main {display: block}
        .left {
            width: 100%;
            box-sizing: border-box
        }
        .right {
            width: 100%;
            box-sizing: border-box
        }
        #desktop-wr {display: none}
        pre {overflow-x: scroll; text-align: left}
        .line {overflow-x: scroll}
}

.banner {
    position: relative;
    margin: auto;
}

.banner img {border: solid 2px black}

.banner .prev {
    position: absolute;
    top: 210px;
    left: 20px;
    font-size: smaller;
}

.banner .next {
    position: absolute;
    top: 210px;
    left: 210px;
    font-size: smaller;
}

.banner a {
    color: snow;
    text-decoration: none;
}

.columnize {
    column-count: 2;
    column-gap: 0.8em;
    flex-wrap: wrap;
}
h1 {font-size: 2.2em;}
pre, code{
    color: black;
    padding: 2px;
    background-color: white;
}
pre {
    font-size: 11pt;
	tab-size: 4;
	padding: 1em 1ex;
	border-left: orange solid 1ex;
	margin-bottom: 2.5em;
	box-shadow: 1.2ex 0.8em 0 #011;
	margin-right: 2ex;
	white-space: pre-wrap;
}
table, td {
  border-collapse: collapse;
  padding: 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
.container .gif {padding: 1px}
.no-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vert {
    flex-direction: column;
}
.center {margin: auto}
p { line-height: 1.3; padding: 5px}

li {padding: 4px}

q {quotes: "“" "”"}

header, footer {
    font-family: c059, sans;

}
footer{ text-align:center }
iframe {
    width: 100%;
    min-height: 26em;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
	}
}
