@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
                --seen: blueviolet;
	}
}
@media (min-width: 55rem) {
	body {max-width: 700px;}
}

@media (min-width: 1300px) {
    nav {
    position: fixed;
    border-radius: 10px;
    left: 0;
    margin-left: 25px;
    align-items: left;
}

nav ul {
    padding-left: 0px;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

}
@media (max-width: 1300px) {
    nav {
        border-radius: 10px;
        width: 90%;
        margin: auto;
    }
    nav ul {
        padding-left: 0px;
        padding: 5px;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    nav h4 {
        display: none;
    }

    nav li {
        padding: 3px;
        width: 90%;
        border-radius: 5px;
    }
}

a {color: var(--href)}
a:hover {color: var(--hover)}
a:visited{color: var(--seen)}

main img {
    max-width: 400px;
    float: right;
    text-align: center;
}

@media (max-width: 55rem) {
    code {
        font-size: 4vw;
    }
}

@font-face {
    font-family: JBMR;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

html {
        background: var(--bg);
        padding-bottom: 20px;
}

body {
    color: var(--fg);
    margin: auto;
    font-size: 17pt;
    margin-bottom: 400px;
    font-family: c059, serif ;
}

figure {
  display: block;
  float: right;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  max-height: 700px;
  max-width: 50%;
}

ol li {
    padding: 6px;
}

main {
    margin: auto;
    font-family: c059, serif ;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

pre {
    font-size: 8pt;
}

code {
    display: block;
    font-family: JBMR;
    font-size: 10pt;
    color: lime;
    border-radius: 15px;
    background: #123;
    margin: auto;
    padding: 15px;
    width: 60%;
}

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
}

.right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: right;
    text-align: right;
}


footer {
    margin-top: 20px;
}

.heading {
    text-align: center;
}

.note {
    border: black solid 2px;
    border-radius: 4px;
    padding:20px 30px;
    margin:auto
}

p {
 line-height: 1.7 ;
 padding: 1rem;
}

blockquote {
 line-height: 1.6 ;
}

aside {
    line-height: 1.1;
    text-align: center;
    font-size: 14pt;
    max-width: 600px;
    padding: 5px;
}

strong { color: crimson }

hr  {
    width: 50%;
}

fieldset {
     border: 2px solid;
}

footer {
    text-align: center;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: snow;
		--bg: #111;
		--href: lightskyblue;
		--hover: azure;
	}
}
